.info-modal-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0,0,0,.8);
}

.info-modal {
  position: relative;
  padding: 30px;
  width: 100%;
  max-width: 350px;
  left: calc(50% - 175px);
  top: 110px;
  background: white;
  border-radius: 3%;
  max-height: 85vh;
  overflow: auto;
  padding-bottom:10px;
}

.x-out {
  position: absolute;
  left: 1px;
  top: 1px;
  padding: 2px 6px 3px 6px;
  background: #e03333;
  border-radius: 50%;
  width: fit-content;
  min-width: 20px;
}
.x-out:hover{
  cursor: pointer;
  background: #bc2b2b;
}

.info-modal p {
  padding: 10px;
  border-top: 1px solid black;
}