.table-header {
  background-color: rgb(216, 216, 216);
}

.row {
  padding: 10px;
  display: flex;
  border-top: 1px solid black;
}

.row p:first-child {
  width: 80%;
}

.list {
  padding: 20px;
}

.list-title-wrapper {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
}

h3 {
  font-size: 25px;
  padding-left: 10px;
}

h3::first-letter {
  text-transform:capitalize;
}